html{
  height:100%;
}
body {
  min-width: 357px;
  max-width:  457px;
  height: 100%;    
  font-family: helvetica, 'Segoe UI', 'Open Sans', Arial, sans-serif;
  background-image: url("/inPersoned_pink.png");
  background-repeat: no-repeat;
  background-size: 130px;
  background-position: 8px 20px;
}


.headcontainer {

}
.headcontainer h3{
    margin-top: 60px;
    
    
}

.headcontainer h2{
  /*color: #A30078;*/
  margin-top: 60px;
  border-bottom: 3px solid #74A599;
  font-family: sans-serif;
}

.eventscontainer{
  overflow: scroll;
  overflow: visible;    
}


.event{
  border-bottom: 1px solid #E9EAED;  
  padding: 20px;  
  font-variant: helvetica;
  cursor: pointer;  
}
.event:hover{
  background-color: #E9EAED;  
}

.event h4{
  margin-bottom: 1px;
  margin-top: -5px;
}

.location{
  margin-top: 6px;
  font-weight: bold;
  font-style: italic;
  color: #415E9B;
}

.eventdate{
  margin-top: 4px;
  font-family: Georgia;
}

.eventinterrest{
  margin-top: 6px;

}
.eventlink{

}

.eventlink a{

}

